<!DOCTYPE html>
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en-US"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en-US"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en">

<head>

    <!--meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--meta tags ends-->

    <title>Tenant Login | Lilys Hidden Paradise</title>

    <!--- Links to google fonts -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,800%7cRoboto+Mono:400,700%7cMerriweather:300%7cAbril+Fatface'
          rel='stylesheet'>
    <!-- Links to fonts ends -->

    <!-- Bootstrap stylesheet -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Font Icons -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <!-- Popup Images -->
    <link rel="stylesheet" type="text/css" href="/static/css/magnific-popup.css">

    <!-- css animation -->
    <link rel="stylesheet" type="text/css" href="/static/css/animate.css">

    <!-- custom stylesheets -->
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
  


</head>

<body>

<!-- Start: Preloader section -->
<div id="loader-wrapper">
    <div id="loader"></div>
</div>
<!-- End: Preloader section -->

<!-- DOCUMENT WRAPPER STARTS -->
    <main>

        <!-- MAIN HEADER STARTS-->
            <header id="header">

            <!-- TOP NAVIGATION -->
            <nav class="top-navigation-bar navbar navbar-default navbar-fixed-top">
                <div class="container">
                <div class="row">
                <div class="col-md-12">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" 
                                data-toggle="collapse" data-target="#top-navigation-bar" 
                                aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/">LHP</a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="top-navigation-bar">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="active"><a href="/">Home</a></li>
                            <li><a href="/tenancy-form">Tenancy</a></li>
                            <li><a href="/login/tenant">Login</a></li>                            
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                    </div>
                    </div>
                </div>
                <!-- /.container-->
            </nav>
            <!-- TOP NAVIGATION ENDS -->

            <!-- page icon -->
            <link rel="icon" href="/static/images/LHP-Logo.ico" type="image/x-icon">

        </header>
        
        <!-- main header ends-->
        <section id="address" class="address page-top">
            <div class="container">
                <div class="row">
                    
                        <div class="col-md-6">
                        <div class="address-wrapper wow fadeInUp" data-wow-delay="0.3s">
                        <h1>Our Address</h1>
                        <table class="address-table">
                                <tbody>
                                    <tr>
                                        <td>Location</td>
                                        <td>Bournes Village, St George<br>Barbados</td>
                                    </tr>
                                    <tr>
                                        <td>Phone:</td>
                                        <td>+2462302047</td>
                                    </tr>
                                    <tr>
                                        <td>Email:</td>
                                        <td>foobar@email.com</td>
                                    </tr>
                                    <tr>
                                        <td>Instagram:</td>
                                        <td>account.com/pages/foobar</td>
                                    </tr>
                                </tbody>
                            </table>
                            </div>
                    </div>
                    <div class="col-md-6">
                    <div class="map-wrapper wow fadeInUp" data-wow-delay="0.6s">
                        <div id="map"></div>                     
                    </div>
                    </div>
                    
                    
            </div>
            </div>
        </section>

        <section id="email-us" class="email-us page">
            <div class="container wow fadeInUp" data-wow-delay="0.3s">
                <div class="row">
                    
                    <div class="col-md-6">
                    <div class="email-wrapper">
                        <h1>Login To Tenant Account</h1>
                        <div class="section-snippet hidden-xs">
                          <span class="snippet-heading">Are you a landlord?</span>
                          <span style="color: #FB0097;">Click <a href="/new/landlord" style="color:#14962c;">here</a> to create your account</span>  
                        </div>

                        <div class="section-snippet hidden-xs">
                          <span class="snippet-heading">Already have a landlord account?</span>
                          <span style="color: #FB0097;">Click <a href="/login/landlord" style="color:#14962c;">here</a> to login</span>  
                        </div>

                        <div class="section-snippet hidden-xs">
                            <span class="snippet-heading">Don't have a tenant account?</span>
                            <span style="color: #FB0097;">Complete your <a href="/tenancy-form" style="color:#14962c;">Tenancy Form</a> to obtain an account</span></span>
                        </div>
                     </div>  
                    </div>
                    <div class="col-md-6">
                        <div class="form-wrapper">
                          <form action="/login/tenant/submit" method="post">
                              {{ if .BadRequestError }}
                                  <label for="badRequestError" style="color: red;">{{ .BadRequestError }}</label>
                                  <p style="color: red;">Failed to login to landlord account. Please try again.</p>
                              {{ end }}
                              {{ if .NotFoundError }}
                                  <label for="notFoundError" style="color: red;">{{ .NotFoundError }}</label>
                                  <p style="color: red;">Landlord account not found. Are you sure you have an account?</p>
                              {{ end }}
                              {{ if .AuthenticationError }}
                                  <label for="authenticationError" style="color: red;">{{ .AuthenticationError }}</label>
                                  <p style="color: red;">Failed to login to landlord account. Please try again.</p>
                              {{ end }}
                              {{ if .InternalServerError }}
                                  <label for="internalServerError" style="color: red;">{{ .InternalServerError }}</label>
                              {{ end }}
                              <label for="account">Account:</label>
                              <input type="email" name="tenantEmail" id="tenantEmail" placeholder="your email or account name...">
                              <label for="tenantPassword">Your Password:</label>
                              <input type="password" name="tenantPassword" id="tenantPassword" placeholder="your password...">
                              <input class="custom-button" type="submit" name="submit" value="Login">
                          </form> 
                    </div>
                    </div>

                </div>
            </div>
        </section>



         <!-- footer section starts -->
        <footer id="footer" class="footer">
            <div class="container wow fadeInUp">
                <div class="row">
                    <div class="footer-wrapper clearfix">
                    <div class="col-md-6 footer-left">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="footer-link footer-link-1">
                                    <h4>Create Free Account</h4>
                                    <ul>
                                        <li><a href="#">View courses</a></li>
                                        <li><a href="#">Discuss</a></li>
                                        <li><a href="#">Suggest course</a></li>
                                        <li><a href="#">View courses</a></li>
                                        <li><a href="#">Discuss</a></li>
                                        <li><a href="#">Suggest course</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="footer-link footer-link-2">
                                    <h4>Create Free Account</h4>
                                    <ul>
                                        <li><a href="#">View courses</a></li>
                                        <li><a href="#">Discuss</a></li>
                                        <li><a href="#">Suggest course</a></li>
                                        <li><a href="#">View courses</a></li>
                                        <li><a href="#">Discuss</a></li>
                                        <li><a href="#">Suggest course</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 col-md-offset-1 footer-text">
                        <p>
                            By submitting information through this platform, you acknowledge and agree that Akoto Tech 
                            may securely store and utilize your data for educational, analytical, and promotional purposes, 
                            as well as to enhance its services. Your data may also be used for internal evaluations, 
                            aggregated research, or other purposes deemed appropriate by Akoto Tech.
                        </p>
                        <span>
                            &copy; 2025 Created By 
                            <a href="https://akototech.org" 
                               target="_blank" 
                               style="color: #FB0097;" 
                               rel="noopener noreferrer">
                                Akoto Tech
                            </a>
                        </span>
                    </div>
                    </div>
                </div><!-- End: .row -->
            </div><!-- End: .container-->
        </footer>
        <!-- footer section ends -->

    </main>
<!-- DOCUMENT WRAPPER ENDS -->



<!-- SCRIPTS -->

    <!-- jQuery (necessary for all the plugins) -->
    <script src="/static/js/jquery-1.11.2.min.js"></script>

    <script src="http://maps.google.com/maps/api/js"></script>
    <script src="/static/js/gmaps.js"></script>
    <script type="text/javascript" src="/static/js/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.easing.min.js"></script>
    <script type="text/javascript" src="/static/js/wow.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.validate.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/main.js"></script>

<!-- SCRIPTS ENDS -->
</body>

</html>
