<!DOCTYPE html>
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en-US"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en-US"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en">

<head>

    <!--meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Message Landlord | Lilys Hidden Paradise</title>

    <!--meta tags ends-->
    <meta name="description" content="View and manage your conversations with your landlord, and send messages directly to them through our secure messaging system.">
    <meta name="keywords" content="tenant messaging, landlord communication, rental management, tenant landlord messaging, secure messaging">
    <meta name="author" content="Akoto Tech">
    <meta name="robots" content="noindex, nofollow">
    <meta property="og:title" content="Message Landlord - View and Send Messages">
    <meta property="og:description" content="Stay connected with your landlord through our secure messaging system. View conversation history, send new messages, and receive updates on your rental information.">
    <meta property="og:image" content="/static/images/LHP-Logo.jpg">
    <meta property="og:url" content="https://lilyshiddenparadise.com/tenant/dashboard/messages">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Lily's Hidden Paradise">
    <meta property="og:locale" content="en_US">

    <!--- Links to google fonts -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,800%7cRoboto+Mono:400,700%7cMerriweather:300%7cAbril+Fatface'
          rel='stylesheet'>
    <!-- Links to fonts ends -->

    <!-- Bootstrap stylesheet -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Font Icons -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <!-- Popup Images -->
    <link rel="stylesheet" type="text/css" href="/static/css/magnific-popup.css">

    <!-- css animation -->
    <link rel="stylesheet" type="text/css" href="/static/css/animate.css">

    <!-- custom stylesheets -->
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
  


</head>

<body>

<!-- Start: Preloader section -->
<div id="loader-wrapper">
    <div id="loader"></div>
</div>
<!-- End: Preloader section -->

<!-- DOCUMENT WRAPPER STARTS -->
    <main>

        <!-- MAIN HEADER STARTS-->
            <header id="header">

            <!-- TOP NAVIGATION -->
            <nav class="top-navigation-bar navbar navbar-default navbar-fixed-top">
                <div class="container">
                <div class="row">
                <div class="col-md-12">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" 
                                data-toggle="collapse" data-target="#top-navigation-bar" 
                                aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/tenant/dashboard">My Dashboard</a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="top-navigation-bar">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="active"><a href="/tenant/dashboard">Dashboard</a></li>
                            <li><a href="/tenant/dashboard/account">Account</a></li>
                            <li><a href="/tenant/dashboard/messages">Messages</a></li>
                            <li><a href="/logout-tenant">Logout</a></li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                    </div>
                    </div>
                </div>
                <!-- /.container-->
            </nav>
            <!-- TOP NAVIGATION ENDS -->

            <!-- page icon -->
            <link rel="icon" href="/static/images/LHP-Logo.ico" type="image/x-icon">

        </header>
        
        <!-- main header ends-->
        <section id="address" class="address page-top">
            <div class="container">
                <div class="row">
                    
                        <div class="col-md-6">
                        <div class="address-wrapper wow fadeInUp" data-wow-delay="0.3s">
                        <h1>Message Dashboard</h1>
                        <table class="address-table">
                                <tbody>
                                    {{ range .}}
                                    <tr>
                                        <td style="color: #14962c;">Sender:</td>
                                        <td style="color: black;">{{ .SenderType }}</td>
                                        <td style="color: #14962c;">Message:</td>
                                        <td style="color: black;">{{ .Message }}</td>
                                    </tr>
                                    {{ end }}
                                </tbody>
                            </table>
                            </div>
                    </div>
                    <div class="col-md-6">
                    <div class="map-wrapper wow fadeInUp" data-wow-delay="0.6s">
                        <div id="map"></div>                     
                    </div>
                    </div>
            </div>
            </div>
        </section>

        <section id="email-us" class="email-us page">
            <div class="container wow fadeInUp" data-wow-delay="0.3s">
                <div class="row">
                    
                    <div class="col-md-6">
                    <div class="email-wrapper">
                        <h1>Send Message</h1>
                        <div class="section-snippet hidden-xs">
                          <span class="snippet-heading">View Dashboard</span>
                          <span style="color: #FB0097;">Click <a href="/tenant/dashboard" style="color:#14962c;">here</a> to go back to your dashboard.</span>  
                        </div>

                        <div class="section-snippet hidden-xs">
                          <span class="snippet-heading">Message Landlord</span>
                          <span style="color: #FB0097;">Click <a href="/tenant/dashboard/messages" style="color:#14962c;">here</a> to view or send messages to your landlord.</span>  
                        </div>

                        <div class="section-snippet hidden-xs">
                            <span class="snippet-heading">Logout</span>
                            <span style="color: #FB0097;">Click <a href="/logout-tenant" style="color:#14962c;">here</a> to logout.</span></span>
                        </div>
                     </div>  
                    </div>
                    <div class="col-md-6">
                        <div class="form-wrapper">
                          <form action="/tenant/send-message" method="post">
                              <label for="tenantMessage">Message:</label>
                              <textarea name="tenantMessage" id="tenantMessage" cols="30" rows="10" aria-required="true"></textarea>
                              <input class="custom-button" type="submit" name="submit" value="Send Message">
                          </form> 
                    </div>
                    </div>

                </div>
            </div>
        </section>



         <!-- footer section starts -->
        <footer id="footer" class="footer">
            <div class="container wow fadeInUp">
                <div class="row">
                    <div class="footer-wrapper clearfix">
                    <div class="col-md-6 footer-left">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="footer-link footer-link-1">
                                    <h4>Landlord</h4>
                                    <ul>
                                        <li>
                                            <a href="/login/landlord"
                                               style="color:#14962c; text-decoration:none;"
                                               onmouseover="this.style.color='#FB0097';"
                                               onmouseout="this.style.color='#14962c';">
                                                Login Landlord
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="footer-link footer-link-2">
                                    <h4>Tenant</h4>
                                    <ul>
                                        <li>
                                            <a href="/login/tenant"
                                               style="color:#14962c; text-decoration:none;"
                                               onmouseover="this.style.color='#FB0097';"
                                               onmouseout="this.style.color='#14962c';">
                                                Login Tenant
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 col-md-offset-1 footer-text">
                        <p>
                            By submitting information through this platform, you acknowledge and agree that Akoto Tech 
                            may securely store and utilize your data for educational, analytical, and promotional purposes, 
                            as well as to enhance its services. Your data may also be used for internal evaluations, 
                            aggregated research, or other purposes deemed appropriate by Akoto Tech.
                        </p>
                        <span>
                            &copy; 2025 Created By 
                            <a href="https://akototech.org" 
                               target="_blank" 
                               style="color: #FB0097;text-decoration:none;"
                               onmouseover="this.style.color='#14962c';"
                               onmouseout="this.style.color='#FB0097';"
                               rel="noopener noreferrer">
                                Akoto Tech
                            </a>
                        </span>
                    </div>
                    </div>
                </div><!-- End: .row -->
            </div><!-- End: .container-->
        </footer>
        <!-- footer section ends -->

    </main>
<!-- DOCUMENT WRAPPER ENDS -->



<!-- SCRIPTS -->

    <!-- jQuery (necessary for all the plugins) -->
    <script src="/static/js/jquery-1.11.2.min.js"></script>

    <script src="http://maps.google.com/maps/api/js"></script>
    <script src="/static/js/gmaps.js"></script>
    <script type="text/javascript" src="/static/js/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.easing.min.js"></script>
    <script type="text/javascript" src="/static/js/wow.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.validate.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/main.js"></script>

<!-- SCRIPTS ENDS -->
</body>

</html>
