<!DOCTYPE html>
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en-US"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en-US"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en">

<head>

    <!--meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--meta tags ends-->

    <title>Applications | Landlord Dashboard | Lilys Hidden Paradise</title>

    <!--- Links to google fonts -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,800%7cRoboto+Mono:400,700%7cMerriweather:300%7cAbril+Fatface'
          rel='stylesheet'>
    <!-- Links to fonts ends -->

    <!-- Bootstrap stylesheet -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Font Icons -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <!-- Popup Images -->
    <link rel="stylesheet" type="text/css" href="/static/css/magnific-popup.css">

    <!-- css animation -->
    <link rel="stylesheet" type="text/css" href="/static/css/animate.css">

    <!-- custom stylesheets -->
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
  


</head>

<body>

<!-- Start: Preloader section -->
<div id="loader-wrapper">
    <div id="loader"></div>
</div>
<!-- End: Preloader section -->

<!-- DOCUMENT WRAPPER STARTS -->
    <main>

        <!-- MAIN HEADER STARTS-->
            <header id="header">

            <!-- TOP NAVIGATION -->
            <nav class="top-navigation-bar navbar navbar-default navbar-fixed-top">
                <div class="container">
                <div class="row">
                <div class="col-md-12">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" 
                                data-toggle="collapse" data-target="#top-navigation-bar" 
                                aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/landlord/dashboard">Dashboard</a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="top-navigation-bar">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="active"><a href="/landlord/dashboard/tenant-applications">Applications</a></li>
                            <li><a href="/">Manual Applications</a></li>
                            <li><a href="/">Rooms</a></li>
                            <li><a href="/logout-landlord">Logout</a></li>                            
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                    </div>
                    </div>
                </div>
                <!-- /.container-->
            </nav>
            <!-- TOP NAVIGATION ENDS -->

        </header>
        
        <!-- main header ends-->
        <section id="address" class="address page-top">
            <div class="container">
                <div class="row">
                    
                        <div class="col-md-12">
                        <div class="address-wrapper wow fadeInUp" data-wow-delay="0.3s">
                        <h1>Tenant Applications</h1>
                        <table class="address-table">
                                <tbody>
                                    {{ range .TenantApplications}}
                                        <tr>
                                            <td>Application ID:</td>
                                            <td>{{ .ID }} </td>
                                        </tr>
                                        <tr>
                                            <td>Status:</td>
                                            <td>{{ .Status }}</td>
                                        </tr>
                                        <tr>
                                            <td>Full Name:</td>
                                            <td>{{ .FullName }}</td>
                                        </tr>
                                        <tr>
                                            <td>Date of Birth:</td>
                                            <td>{{ .Dob }}</td>
                                        </tr>
                                        <tr>
                                            <td>Passport Number:</td>
                                            <td>{{ .PassportNumber }}</td>
                                        </tr>
                                        <tr>
                                            <td>Phone Number:</td>
                                            <td>{{ .PhoneNumber }}</td>
                                        </tr>
                                        <tr>
                                            <td>Email:</td>
                                            <td>{{ .Email }}</td>
                                        </tr>
                                        <tr>
                                            <td>Occupation:</td>
                                            <td>{{ .Occupation }}</td>
                                        </tr>
                                        <tr>
                                            <td>Employed By:</td>
                                            <td>{{ .Employer }}</td>
                                        </tr>
                                        <tr>
                                            <td>Work Number:</td>
                                            <td>{{ .EmployerNumber }}</td>
                                        </tr>
                                        <tr>
                                            <td>Emergency Contact:</td>
                                            <td>{{ .EmergencyContact }}</td>
                                        </tr>
                                        <tr>
                                            <td>Emergency Contact Number:</td>
                                            <td>{{ .EmergencyContactNumber }}</td>
                                        </tr>
                                        <tr>
                                            <td>If Evicted?</td>
                                            <td>{{ .Evicted }}</td>
                                        </tr>
                                        {{ if .EvictedReason }}
                                            <tr>
                                                <td>Evicted Reason:</td>
                                                <td>{{ .EvictedReason }}</td>
                                            </tr>
                                        {{ end }}
                                        <tr>
                                            <td>If Convicted?</td>
                                            <td>{{ .Convicted }}</td>
                                        </tr>
                                        {{ if .ConvictedReason }}
                                            <tr>
                                                <td>Convicted Reason:</td>
                                                <td>{{ .ConvictedReason }}</td>
                                            </tr>
                                        {{ end }}
                                        <tr>
                                            <td>Smoke?</td>
                                            <td>{{ .Smoke }}</td>
                                        </tr>
                                        <tr>
                                            <td>Pets?</td>
                                            <td>{{ .Pets }}</td>
                                        </tr>
                                        <tr>
                                            <td>Vehicle?</td>
                                            <td>{{ .Vehicle }}</td>
                                        </tr>
                                        {{ if .VehicleReg }}
                                            <tr>
                                                <td>Vehicle Registration:</td>
                                                <td>{{ .VehicleReg }}</td>
                                            </tr>
                                        {{ end }}
                                        <tr>
                                            <td>Have Children?</td>
                                            <td>{{ .Children }}</td>
                                        </tr>
                                        {{ if .Children }}
                                            <tr>
                                                <td>Children Details:</td>
                                                <td>{{ .Children }}</td>
                                            </tr>
                                        {{ end }}
                                        <tr>
                                            <td>Refused Rent?</td>
                                            <td>{{ .RefusedRent }}</td>
                                        </tr>
                                        {{ if .RefusedReason }}
                                            <tr>
                                                <td>Resaon for Refusal:</td>
                                                <td>{{ .RefusedReason }}</td>
                                            </tr>
                                        {{ end }}
                                        <tr>
                                            <td>Unstable Income?</td>
                                            <td>{{ .UnstableIncome }}</td>
                                        </tr>
                                        {{ if .UnstableReason }}
                                            <tr>
                                                <td>Reason for Unstable Income:</td>
                                                <td>{{ .UnstableReason }}</td>
                                            </tr>
                                        {{ end }}
                                        <tr>
                                            <td>Application Date:</td>
                                            <td>{{ .CreatedAt }}</td>
                                        </tr>
                                    {{ end }}
                                </tbody>
                            </table>
                            </div>
                    </div>
                    <div class="col-md-6">
                    <div class="map-wrapper wow fadeInUp" data-wow-delay="0.6s">
                        <div id="map"></div>                     
                    </div>
                    </div>
                    
                    
            </div>
            </div>
        </section>

        <section id="email-us" class="email-us page">
            <div class="container wow fadeInUp" data-wow-delay="0.3s">
                <div class="row">
                    
                    <div class="col-md-6">
                    <div class="email-wrapper">
                        <h1>Manage Applications</h1>
                        <div class="section-snippet hidden-xs">
                          <span class="snippet-heading">Prefer Printable Version?</span>
                          <span style="color: #FB0097;">Click <a href="/static/pdf/tenancy-application.pdf" style="color:#14962c;" download>here</a> to download the tenancy form which you can complete and hand back to us</span>  
                        </div>
                     </div>  
                    </div>
                    <div class="col-md-6">
                        <div class="form-wrapper">
                          <form action="/landlord/dashboard/manage-applications" method="post">
                            {{ if .ErrorMessage }}
                            <label for="validation_error" style="color: red;">{{ .ErrorMessage }}</label>
                            {{ end }}
                              <label for="applicationId">Application ID:</label>
                              <input type="number" name="applicationId" id="applicationId" placeholder="tenant application ID" required>
                              <label for="applicationResult">Select An Outcome For This Application:</label>
                              <select name="applicationResult" id="applicationResult" required>
                                    <option value="">Please Select</option>
                                    <option value="accepted">Accept</option>
                                    <option value="denied">Deny</option>
                              </select>
                              <p>If you have accepted the application, please complete the following:</p>
                              <label for="roomType">Room Type:</label>
                              <select name="roomType" id="roomType">
                                    <option value="">Please Select</option>
                                    <option value="single">Single Room</option>
                                    <option value="double">Double Room</option>
                                    <option value="self-contained">Self Contained</option>
                              </select>
                              <label for="moveInDate">Move In Date:</label>
                              <input type="date" name="moveInDate" id="moveInDate">
                              <label for="rentDue">Rent Due:</label>
                              <input type="date" name="rentDue" id="rentDue">
                              <label for="monthlyRent">Monthly Rent:</label>
                              <input type="number" name="monthlyRent" id="monthlyRent" placeholder="monthly rent">
                              <label for="currrency">Currency:</label>
                                <select name="currency" id="currency">
                                        <option value="">Please Select</option>
                                        <option value="bajan dollars">Bajan Dollars</option>
                                        <option value="us dolars">US Dolars</option>
                                        <option value="british pounds">Britsh Pounds</option>
                                        <option value="euro">Euro</option>
                                </select>
                              <input class="custom-button" type="submit" name="submit" value="Submit Form">
                          </form> 
                    </div>
                    </div>
                </div>
            </div>
        </section>



         <!-- footer section starts -->
        <footer id="footer" class="footer">
            <div class="container wow fadeInUp">
                <div class="row">
                    <div class="footer-wrapper clearfix">
                    <div class="col-md-6 footer-left">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="footer-link footer-link-1">
                                    <h4>Create Free Account</h4>
                                    <ul>
                                        <li><a href="#">View courses</a></li>
                                        <li><a href="#">Discuss</a></li>
                                        <li><a href="#">Suggest course</a></li>
                                        <li><a href="#">View courses</a></li>
                                        <li><a href="#">Discuss</a></li>
                                        <li><a href="#">Suggest course</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="footer-link footer-link-2">
                                    <h4>Create Free Account</h4>
                                    <ul>
                                        <li><a href="#">View courses</a></li>
                                        <li><a href="#">Discuss</a></li>
                                        <li><a href="#">Suggest course</a></li>
                                        <li><a href="#">View courses</a></li>
                                        <li><a href="#">Discuss</a></li>
                                        <li><a href="#">Suggest course</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 col-md-offset-1 footer-text">
                        <p>
                            By submitting information through this platform, you acknowledge and agree that Akoto Tech 
                            may securely store and utilize your data for educational, analytical, and promotional purposes, 
                            as well as to enhance its services. Your data may also be used for internal evaluations, 
                            aggregated research, or other purposes deemed appropriate by Akoto Tech.
                        </p>
                        <span>
                            &copy; 2025 Created By 
                            <a href="https://akototech.org" 
                               target="_blank" 
                               style="color: #FB0097;" 
                               rel="noopener noreferrer">
                                Akoto Tech
                            </a>
                        </span>
                    </div>
                    </div>
                </div><!-- End: .row -->
            </div><!-- End: .container-->
        </footer>
        <!-- footer section ends -->

    </main>
<!-- DOCUMENT WRAPPER ENDS -->



<!-- SCRIPTS -->

    <!-- jQuery (necessary for all the plugins) -->
    <script src="/static/js/jquery-1.11.2.min.js"></script>

    <script src="http://maps.google.com/maps/api/js"></script>
    <script src="/static/js/gmaps.js"></script>
    <script type="text/javascript" src="/static/js/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.easing.min.js"></script>
    <script type="text/javascript" src="/static/js/wow.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.validate.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/main.js"></script>

<!-- SCRIPTS ENDS -->
</body>

</html>

